<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Furniture | Account Activation Sent</title>
</head>
<body>
    <div class="w-1/2 my-6 p-6 mx-auto bg-gray-100 rounded-xl">

    <div class="container text-teal-300 mx-auto p-4">
        <h2 class="text-2xl mb-4">Account Activation Sent</h2>
        <p class="text-black">Please check your email to activate your account.</p>
        <div class="fas fa-box  text-5xl py-3  "></div> 
    </div>
</div>
</body>
</html>
