{% extends "core/base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}


    <div class=" roundedb mx-auto mt-10">
        <h1 class="text-3xl font-semibold mb-6">Contact Us</h1>
        <p class="mb-4">We'd love to hear from you! Here are the ways you can reach out to us:</p>
        <div class="space-y-6">
            <div>
                <h2 class="text-2xl font-semibold mb-2"><i class="fas fa-envelope text-teal-500"></i> Email</h2>
                <p class="mb-2">You can email us at <a href="mailto:otiecollins131@gmail.com" class="blue hover:text-teal-700">email us</a></p>
            </div>
            <div>
                <h2 class="text-2xl font-semibold mb-2"><i class="fab fa-twitter text-blue-400"></i> Twitter</h2>
                <p class="mb-2">Follow us and send us a message on Twitter: <a href="https://twitter.com/yourcompany" class="blue hover:text-teal-700" target="_blank">@yourcompany</a></p>
            </div>
            <div>
                <h2 class="text-2xl font-semibold mb-2"><i class="fab fa-instagram text-pink-500"></i> Instagram</h2>
                <p class="mb-2">Check out our latest posts and send us a DM on Instagram: <a href="https://instagram.com/yourcompany" class="blue hover:text-teal-700" target="_blank">@yourcompany</a></p>
            </div>
            <div>
                <h2 class="text-2xl font-semibold mb-2"><i class="fab fa-whatsapp text-green-500"></i> WhatsApp</h2>
                <p class="mb-2">You can reach us on WhatsApp: <a href="https://wa.me/254746446857" class="blue hover:text-teal-700" target="_blank">WhatsApp us</a></p>
            </div>
        </div>
    </div>

{% endblock %}

