
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title> Furniture | Password Reset Complete</title>
</head>
<body>

    <div class="w-1/2 my-6 p-6 mx-auto bg-gray-100 rounded-xl">
        <h2 class="text-2xl font-bold mb-4">Password Reset Complete</h2>
        <p>Your password has been reset successfully. You can now <a href="{% url 'core:login' %}" class="text-teal-500">log in</a> with your new password.</p>
        <div class="fas fa-box  text-5xl py-3  "></div> 
    </div>

</body>
</html>
