{% extends 'core/base.html' %}
{% block title %} Delete blog{% endblock title %}
{% block content %}
<div class="productbg text-gray-600 roundedb mx-auto px-4 py-6">
    <h1 class="text-3xl font-semibold mb-6">Confirm Delete</h1>
    <div class="bg-white p-4 rounded-lg shadow">
        <h2 class="text-xl font-semibold">{{ post.title }}</h2>
        <p class="text-gray-600 mb-2">{{ post.author.username }} - {{ post.created_at|date:"F j, Y" }}</p>
        <p>{{ post.content }}</p>
        <form action="{% url 'dashboard:post_delete' post.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete" class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded">
            <a href="{% url 'dashboard:post_list' %}" class="ml-4 text-teal-500 hover:text-teal-700">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
