{% extends 'core/base.html' %}
{% block title %}posts{% endblock title %}
{% block content %}
<div class="productbg roundedb mx-auto px-4 py-6">
    <h1 class="text-3xl font-semibold mb-6">{{ post.title }}</h1>
    <hr>
    <div class="productbg p-4 rounded-lg shadow">
        <p  class=" index mb-2">{{ post.author.username }} @- {{ post.created_at|date:"F j, Y" }}</p>
        <div >{{ post.content|linebreaks }}</div>
        <a href="{% url 'dashboard:post_list' %}" class="blue hover:text-red-700 ml-4">Back</a>
    </div>
</div>
{% endblock %}
